div.dropdown-menu.show {
  background-color: black;
}
body {
  background-color: rgba(34, 34, 34, 0.623) !important;
}
.infoCard.card {
  background-color: transparent;
  border: none;
}
.infoCard .card-body {
  justify-content: center;
  text-align: center;
  padding: 0;
}

.infoCard .card-title {
  margin-top: 2px;
  margin-bottom: 2px;
  color: rgba(2, 2, 2, 0.479);
  font-size: 1rem;
}

.infoCard .card-text {
  font-size: 0.9rem;
  color: rgba(24, 24, 24, 0.5);
}

.infoCard .card-img-top {
  border-radius: 10px;
  cursor: pointer;
}

.navbar-brand {
  cursor: pointer;
}
